body{

	background: #666; 
	color: #fff; 
	font-family:arial;
	line-height: 1.5em;

}




a{ /* Navigation 里面所有的a tags:  Home, about,...;*/
	color: #fff;
	text-decoration: none; /* remove underline */
}

ul{
	padding:0;
}

#container .clr{
	clear:both;
}


#container{
	background: #333;
	wiidth: 960px;
	margin: 30px auto;
	overflow: hidden;
	padding: 10px;
}	

#nav{
	height: 55px;
	background: #644;
	margin-bottom: 20px;
}


#nav ul{
	padding-top: 10px;
	padding-left: 10px;


}


#nav li{
	list-style: none; /*  除去小圆点  */
	float: left; /* 变成horizontal 的list */
	padding-right: 20px;

}


#nav .active{
	font-weight: bold;
}



#main{
	float: left;
	width: 60%;
}

#sidebar{
	float: right;
	width: 30%;
	background: #666;
	margin-top: 20px;
	padding: 10px;


}



#footer{
	text-align: center;
	padding: 10px;
	background: #456;
	margin-top: 20px;

}

.services li{
	border-bottom: 2px #666 dashed;
	padding-bottom:20px;




}
.services a{

	background: #456;
	padding: 10px;

}

input, textarea{
	width: 100%;
	padding: 5px;
	margin-bottom: 20px;
	
}